[submodule "modules/oexp"]
	path = preprocessing/oexp
	url = git@github.com:BodenmillerGroup/SpheroidPublication.git
	branch = oexp
[submodule "modules/phys"]
	path = preprocessing/phys
	url = git@github.com:BodenmillerGroup/SpheroidPublication.git
	branch = phys
[submodule "modules/bf"]
	path = preprocessing/bf
	url = git@github.com:BodenmillerGroup/SpheroidPublication.git
	branch = bf
